  <header>
        <% include partials/header/head.ejs %>
    </header>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li ><a href="/about">about</a></li>
        <li class="active"><a href="/service">Service<span class="sr-only">(current)</span></a></li>
         <li><a href="/project">Project</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    As a quantitative developer with rich real-life exprience, I can provide you:
  </p>
  <ul class="list-group">
  <li class="list-group-item">quantitative trading strategies research.</li>
  <li class="list-group-item">trading system developement</li>
  <li class="list-group-item">information consultant about Chinese financial market.</li>
  <li class="list-group-item">Real life trading experience.</li>
  <li class="list-group-item">inspiring into your own trading business.</li>
</ul>
</div>
  </div>
   <footer>
        <% include partials/footer/foot.ejs %>
    </footer>
</body>
</html>