  <header>
        <% include ../partials/header.ejs %>
    </header>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
        <li><a href="/service">Service</a></li>
         <li><a href="/project">Project</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    I am a programmer, trader and loving father.
   
  </p>
  <div class="row">
 
 
 <div class="col-md-3">
    <img id = "me" class="hao jiang" src="Content/images/good.jpg" />
    </div>

    <div id = "resume" class="col-md-9">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Time Span</th>
                <th>Company</th>
                <th>job title</th>
                <th>projects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Sept.2016 - Jan.2017</td>
                <td>TD security</td>
                <td>Solution Developer</td>
                <td>develop Darwin system for derivatives traders in TD.</td>
              </tr>
              <tr>
                <td>2</td>
                <td>May.2016 - Aug.2017</td>
                <td>Goldenwise Captical Management.</td>
                <td>Quantitative Developer</td>
                <td>Intelligent Stock picker module for online brokers app.</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Oct.2013 - Dec.2015</td>
                <td>Haitong futures Co.Ltd.</td>
                <td>Software Developer</td>
                <td>automatic option trading system.</td>
              </tr>

               <tr>
                <td>4</td>
                <td>Oct.2012 - Apr.2013</td>
                <td>Beijing BlueBasin technology Co.Ltd</td>
                <td>Quantitative Developer</td>
                <td>automatic trading system for market-neutral strategy.</td>
              </tr>

              <tr>
                <td>5</td>
                <td>Jul.2010 - Feb.2012</td>
                <td>Nomura Research Institute.</td>
                <td>System Engineer</td>
                <td>Maintain back-end system for Ito system.</td>
              </tr>
            </tbody>
          </table>
</div>
 
</div>

</div>
    

    </div>

     <footer>
         <% include ../partials/footer.ejs %>
    </footer>
</body>
</html>