<header>
        <% include ../partials/header.ejs %>
    </header>

    <div class="jumbotron">
        <h2 class = "welcome">Welcome to Hao Jiang' Home! </h2>
        <div id = "pic">
        <div class= "quote">
        <p class="lead">God, Grant me 

          the SERENITY, to accept the things I cannot change, </p>
          <p>COURAGE to change the things I can, and</p> 
          <p>the WISDOM to know the difference. 
          </p>
        </div>
          <div id = "main" class="hao-wrapper">
    <img class="hao" src="Content/images/wall.PNG" />
    </div>
    </div>
       
      </div>

 
 
  <footer>
        <% include ../partials/footer.ejs %>
    </footer>
