  <header>
        <% include ../partials/header.ejs %>
    </header>

  <div class="jumbotron">
  <p>
    As a quantitative developer with rich real-life exprience, I can provide you:
  </p>
  <ul class="list-group">
  <li class="list-group-item">quantitative trading strategies research.</li>
  <li class="list-group-item">trading system developement</li>
  <li class="list-group-item">information consultant about Chinese financial market.</li>
  <li class="list-group-item">Real life trading experience.</li>
  <li class="list-group-item">inspiring into your own trading business.</li>
</ul>
</div>
  </div>
  <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>
</html>