  <header>
        <% include ../partials/header.ejs %>
    </header>


 <div class="img-wrapper">
    <img class="trading1" src="Assets/images/trading1.jpg" />
    <img class="trading2" src="Assets/images/trading2.jpg" />
    <img class="trading3" src="Assets/images/trading3.jpg" />
</div>
   <footer>
         <% include ../partials/footer.ejs %>
    </footer>
